.sidebar-brand-text {
    font-family: var(--font-stack--monospace);
    font-weight: 800;
}

.sidebar-brand-text::before {
    content: '';
    background-image: url('../ico.svg');
    display: block;
    margin-bottom: 0.5em;
    background-size: cover;
    width: 4em;
    height: 4em;
}

.article-container {
    overflow-x: auto;
    padding: 0 1em;
}

.main div.content {
    padding: 0;
}

.main div.content footer {
    padding: 0 1em;
}

@media (min-width: 46em) {
    .article-container {
        overflow-x: auto;
        padding: 0 3em;
    }

    .content {
        width: 52em;
    }

    .main div.content footer {
        padding: 0 2em;
    }
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: medium;
}

@media screen and (max-width: 32em) {

    html,
    body {
        font-size: clamp(8px, 3.5dvi, 1rem);
    }
}