.sidebar-brand-text {
    font-family: var(--font-stack--monospace);
    font-weight: 800;
}

.sidebar-brand-text::before {
    content: '';
    background-image: url('../ico.svg');
    display: block;
    margin-bottom: 0.5em;
    background-size: cover;
    width: 4em;
    height: 4em;
}

.article-container {
    overflow-x: auto;
    padding: 0 1em;
}

.main div.content {
    padding: 0;
}

.main div.content footer {
    padding: 0 1em;
}

@media (min-width: 46em) {
    .article-container {
        overflow-x: auto;
        padding: 0 3em;
    }

    .content {
        width: 52em;
    }

    .main div.content footer {
        padding: 0 2em;
    }
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: medium;
}

@media screen and (max-width: 32em) {

    html,
    body {
        font-size: clamp(4px, 3.5dvi, 1rem);
    }
}

* {
    box-sizing: border-box;
    position: relative;
    min-width: 0;
}

body {
    min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}


.theme-toggle-header {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-inline: 1em;
    padding: 0;
}

.page .header-center {
    padding-left: 2.5rem;
    font-weight: 600;
    font-family: var(--font-stack--monospace);
}

.nav-overlay-icon .icon,
.toc-overlay-icon .icon {
    height: 1.25rem;
    width: 1.25rem;
}

.toc-title {
    font-weight: 600;
}

.theme-toggle svg {
    height: 1.25rem;
    width: 1.25rem;
}

@media not (max-width: 67em) {
    .theme-toggle-container {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

.toc-content-icon {
    align-items: center;
}

.toc-drawer {
    padding: 0;
    flex: 1;
    transition-timing-function: ease;
}

.sidebar-drawer {
    transition-timing-function: ease;
}

@media (max-width: 82em) {
    .toc-drawer {
        right: -38.2%;
        min-width: 38.2%;
        max-width: 38.2%;
        width: 38.2%;
    }
}

@media (max-width: 60em) {
    .toc-drawer {
        right: -61.8%;
        min-width: 61.8%;
        max-width: 61.8%;
        width: 61.8%;
    }
}

.content-icon-container .edit-this-page {
    display: flex;
    align-items: center;
}

.content-icon-container .edit-this-page .muted-link {
    height: 1.25rem;
    width: 1.25rem;
}

.content-icon-container .edit-this-page .muted-link svg {
    height: 100%;
    width: 100%;
}

.content-icon-container {
    position: absolute;
    right: 1rem;
    z-index: 5;
}

.toc-tree-container .toc-tree {
    overflow-x: auto;
    white-space: nowrap;
}

.reference {
    z-index: 5;
}

.reference .viewcode-link {
    min-width: 5rem;
}